/*-----BOX-SIZING FIX------*/

/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*-----GLOBAL RESETS------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Reset */

//*---------------------------------------------*//

/* Start of Custom Styles */

html {
	-webkit-font-smoothing: antialiased;/*---this makes the fonts cleaner in Safari---*/
}



.wrapper {
	margin: 0;
	padding: 0;
	background-color: pink;
}

header {
	background-color: black;
	color: white;
	height: 3em;
	padding: 10px;
	text-align: center;
}

.main {
	max-width: 500px;
	margin: 0 auto;
	background-color: white;
	border: 1px solid blue;	
	padding: 20px;
}

footer {
	text-align: center;
	background-color: black;
	color: white;
}

.item-entry {
	text-align: center;
}
.item-entry h1 {
	font-size: 1.5em;
	margin: 10px 0;
}

.item-entry input {

	width: 380px;
	height: 50px;
	border: 1px solid deeppink;
	padding: 20px;
	font-size: 0.9em;
	text-align: center;
	margin-top: 20px;
}

.btn-enter {
	background-color: deeppink;
	padding: 20px 10px 17px 10px;
	border: none;
	color: white;
	cursor: pointer;
}

.list ul {
	margin-left: 0;
	padding-left: 0;

}

.list li {
	
	list-style-type: none;
	margin-left: 0;
}

.todos {
	background-color: pink;
	margin-top: 20px;
	border: 1px solid black;
	padding: 10px;
	max-width: 500px;
	color:black;
}

.todos button {
	background-color: red;
	padding: 15px;
	border: none;
	color:white;
	margin-right: 15px;
	width: 100px;
	cursor: pointer;
}

.delete {
	display: inline;
	color: red;
	font-size: 0.8em;
	text-align: right;
	float: right;
	margin-top: 15px;
	cursor: pointer;
}

.extras {
	margin-top: 20px;
	text-align: center;
}

button.reset {
	background-color: deeppink;
	height: 40px;
	padding: 10px;
	border: none;
	color: white;
	cursor: pointer;
	width: 420px;
	margin: 0 auto;
}


















